:root {
    --primary-color-hs: 208, 100%;
    --background-color-hs: 232, 45%;
    --color-lighter: 90%;
    --color-light: 70%;
    --color-base: 50%;
    --color-dark: 30%;
    --color-darker: 10%;
    --transparent-base: 50%;
    --transparent-light: 70%;
    --transparent-dark: 30%;
    --transparent-none: 0%;
    --border-radius: 4%;
    --special-color: #fff176;
    --header-color: #333;
    --content-color: #222;
    --border-color: #ddd;
}

body {
    font-size: 1em;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: "Noto Sans CJK JP", "Noto Sans JP", "Meiryo UI", "Yu Gothic", sans-serif;
    border: hidden;
    border-radius: 1em;
    box-shadow: 0 0 0 1px var(--border-color);
    overflow: hidden;
}

td, th {
    padding: 8px 16px;
    color: var(--content-color);
    vertical-align: center;
    border: 1px solid var(--border-color);
    font-size: 0.9em;
}

.nsb-header {
    text-align: center;
    border-radius: 1em 1em 0 0;
    background-color: #eee;
}

tr.nsb-unread {
    font-weight: bold;
    background-color: #efefef;
}

tr.nsb-flag {
    background-color: var(--special-color);
    font-weight: bold;
}

table a {
    text-decoration: none;
}

.nsb-header-title {
    color: var(--header-color);
    font-weight: bold;
    font-size: 1em;
}

/** Checkbox **/
div.checkboxgroup label {
    cursor: pointer;
    vertical-align: middle;
}

div.checkboxgroup label span {
    vertical-align: middle;
}

input[type="checkbox"] {
    vertical-align: middle;
    appearance: none;
    border: max(2px, 0.15em) solid hsl(var(--primary-color-hs), var(--color-darker));
    border-radius: var(--border-radius);
    width: 1.25em;
    height: 1.25em;
}

input[type="checkbox"]:checked {
    border: 0.4em solid hsl(var(--primary-color-hs), var(--color-base));
}

input[type="checkbox"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.15em) solid hsla(var(--primary-color-hs), var(--color-base), var(--transparent-base));
}

input[type="checkbox"]:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) hsl(var(--primary-color-hs), var(--color-light));
}

input[type="checkbox"]:disabled {
    border: max(2px, 0.15em) solid hsl(var(--primary-color-hs), var(--color-light));
    box-shadow: none;
    cursor: not-allowed;
}